@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
}
textarea.form-control {
  border: none !important;
  border-left: 2px solid var(--bs-gray) !important;
  outline: none !important;
  padding: 8px 4px;
  color: var(--bs-gray) !important;
  box-shadow: none !important;
}
#playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 12px;
  z-index: 2;
  transform: translateY(-50%);
}
/* HIDE AREA */
.hide {
  display: none;
}