@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

*:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.logo span {
  color: rgb(252, 142, 52);
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.icon {
  padding: 13px 20px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}
#playBtn:hover {
  color: #fff;
  background-color: #27aaf6;
}
#htmlBtn:hover {
  color: #fff;
  background-color: #ff8c71;
}
#cssBtn:hover {
  color: #fff;
  background-color: #228cd3;
}
#jsBtn:hover {
  color: #fff;
  background-color: #f5d33c;
}

.code-area,
.preview-area {
  position: relative;
  height: calc(100vh - 60px);
}
nav {
  height: 60px;
  width: 100%;
  background: #5257ba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}
#htmlCode,
#cssCode,
#jsCode,
#result {
  position: absolute;
  overflow-y: scroll;
  font-size: 1.5rem;
  resize: none;
  color: #fff;
  width: 92.3%;
  height: 94.7%;
  border: none;
  padding: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
}
#htmlCode {
  background-color: #ff8c71;
  z-index: 3;
}
#cssCode {
  background-color: #228cd3;
  z-index: 3;
}
#jsCode {
  background-color: #f5d33c;
  z-index: 3;
}
#result {
  z-index: 3;
}

/* HIDE AREA */
.hide {
  display: none;
}